.detail-page h3 {
  margin: 30px auto;
}
.detail-part {
  display: flex;
  padding: 30px;
}

.detail-of-a-book {
  margin-left: 50px;
}

.book-description {
  padding: 30px;
}

.grey-background {
  background-color: #f2f2f2;
  width: 100%;
}

.detail-book {
  font-size: 14px;
}

.audio-box {
  padding: 5px;
  top: 5px;
  margin-right: 10px;
}
