.book-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.cardItem {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  margin: 30px;
}

.cardItem img {
  max-width: 100%;
}
